/* CSS Document */
body{background:#fff url(/images/pic_1.jpg) repeat-x left top;}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td {margin:0;padding:0;}
body,button,input,select,textarea {font:12px/1.125 "宋体",Arial;}
ul,ol,li{list-style:none;}
img{ border:0; }
em{font-style:normal;}
a{text-decoration:none; color:#015db3; }
a:hover{text-decoration:underline;color:#c00;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.pt8{padding-top:8px;}
.center{ text-align:center;}
.clear{clear:both;height:0px;overflow:hidden;}
.home_box{text-align:left; width:1000px; margin:0 auto; color:#333;}

.login_contain1{margin:0 auto;}
.login_top, .login_foot{background:url(/images/header_bg.png) no-repeat 0 -46px; width:1000px; height:11px; overflow:hidden;}
.login_foot{background-position:0 -58px; height:7px;}
.login_con1{border-left:1px solid #6fa3d9; border-right:1px solid #6fa3d9; background:#fff; overflow:hidden;}
.login_con2{width:978px; margin:0 auto;}
.login_tit1{float:left; background:url(/images/header_bg.png) no-repeat -94px -65px; width:59px; height:50px; margin-top:2px;}
.login_tit1 a{color:#0073df; font-size:14px; display:block; width:30px; line-height:18px; margin:7px 0 0 13px;}
.login_tit1 a:hover{color:#0073df;}
.login_list1{float:right; width:919px;}
.login_list1 li {color:#bfbfbf; margin:1px 0; text-align:center;}
.login_list1 li a{color:#0073df; font-size:14px; width:66px; height:27px; line-height:27px; margin:0 4px;display:inline-block;}
.login_list1 li a:hover{background: none repeat scroll 0 0 #3684d4;color:#fff; text-decoration:none;}
.login_list1 li a.here1{background:#3684d4; color:#fff;}
/* header css end */

/* 头样式开始 */
.home_nav1 ul{padding-top:4px; overflow:hidden; width:720px;}
.home_nav1 li{float:left; width:94px; height:37px; padding-top:7px; margin-right:8px; text-align:center;}
.home_nav1 li.here1{background:url(/images/header_bg.png) no-repeat 0 -65px; color:#000; padding-top:11px; height:29px;}
/* header css */
.w1000{width:1000px; margin:0 auto;}
.home_logo{position:relative;}
.home_logo{width:364px; float:left;}
.home_logo a{width:364px; height:94px; display:block; background:url(/images/header_bg.png) no-repeat -225px -65px;}
.home_logo a.jiuban_a1{position:absolute; background:none; z-index:10000; left:275px; top:62px; display:inline; width:auto; height:auto;}
.home_search{width:380px; float:right; margin-right:25px; display:inline; margin-top:30px;}
.icon_1{background:url(/images/header_bg.png) no-repeat -153px -97px; width:37px; height:31px; display:inline-block;}
*html .icon_1{margin-top:1px;}
*+html .icon_1{margin-top:1px;}
.home_search_txt1{width:268px; height:23px; padding:4px 0; line-height:23px; background:url(/images/header_1.png) repeat-x; border:none; vertical-align:bottom; color:#b7b7b7; font-size:14px;}
.home_search_btn1{background:url(/images/header_bg.png) no-repeat -153px -65px; width:72px; height:31px; vertical-align:bottom; border:none; cursor:pointer;}
*html .home_search_btn1{vertical-align:top; margin-top:1px;}
*+html .home_search_btn1{vertical-align:top; margin-top:1px;}
.home_search p{margin-top:11px;}
.home_search p a{color:#015DB3;}

/* home_nav1 css */
.home_nav1{background:url(/images/header_bg.png) no-repeat; height:36px; padding:0 18px 0 22px; overflow:hidden;}
.home_nav1 ul{padding-top:4px; overflow:hidden; width:720px;}
.home_nav1 li{float:left; width:94px; height:37px; padding-top:7px; margin-right:8px; text-align:center;}
.home_nav1 li.here1{background:url(/images/header_bg.png) no-repeat 0 -65px; color:#000; padding-top:11px; height:29px;}
.home_nav1 li.here1 a{color:#000;}
.home_nav1 a{color:#fff; font-size:14px; font-weight:bold; }
.home_nav1 span{color:#badcff; float:right; padding-top:13px;}
.home_nav1 span a{color:#fff; font-weight:normal; font-size:12px; margin-right:0px;}
.home_nav1 span b{margin-right:24px; font-weight:normal;}
/* 头样式完 */

.car_place{background:#fff; height:19px; border:1px solid #f0f0f0; padding:10px 0 0 17px; width:981px; color:#666; overflow:hidden; margin-top:8px;}
.car_place a{color:#015DB3;}

/* APPer_contain2 css */
.APPer_contain2{border:1px solid #f0f0f0; height:25px; line-height:25px; padding-left:14px; color:#666;}

/* left_con2 css */
.left_con2{background:url(/images/bg2.png) no-repeat 0 -79px; height:33px; padding:7px 0 0 11px; margin-top:8px;}
.left_con2 a{display:inline-block; cursor:pointer; background:url(/images/bg.png) no-repeat -387px -85px; width:60px; height:26px; text-align:center; line-height:26px; color:#000; margin-right:6px; font-size:14px; text-decoration:none;}
.left_con2 a.here1{background-position:-326px -85px; color:#fff;}
.left_con2 a:hover{text-decoration:none; color:#000;}
.left_con2 a.here1:hover{color:#fff;}

/* APPer_contain3 css */
.APPer_contain3{background:url(/images/er_5.png) repeat-y;}
.APPer_top1{background:url(/images/bg2.png) no-repeat 0 -120px; height:12px; width:1000px;}
.APPer_bottom1{background:url(/images/bg2.png) no-repeat 0 -133px; height:12px; width:1000px; overflow:hidden;}

.APPer_contain3_1{width:960px; margin:0 auto; overflow:hidden;}
.APPer_contain3_1 li{background:url(/images/bg2.png) no-repeat 0 -146px; width:216px; height:100px; float:left; margin:5px 0 0 5px; padding:15px 0 0 18px; display:inline; position:relative;}
.APPer_contain3_1 li a:hover{text-decoration:none;}
.APP_pic1{float:left; width:82px; height:82px; margin-right:7px;}
.APP_pic1 span.mask_xiao{background:url(/images/80.png) no-repeat; display:block; width:82px; height:82px; position:absolute; left:-1px; top:0; z-index:2;}
*html .APP_pic1 span.mask_xiao{background-image:none;filter:
progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='/images/80.png')}

/* 注销的样式
.APP_font1{float:left; width:115px; margin-top:4px;}
.APP_font1 p{color:#010101; font:bold 12px/12px microsoft yahei,"黑体"; height:25px; word-wrap:break-word; line-height:1.3; }
*html .APP_font1 p{font-family:Arial, "宋体";letter-spacing:-1; line-height:20px; overflow:hidden;}
.APP_font1 a{ margin-top:6px;color:#010101; font:bold 12px/12px microsoft yahei,"黑体"; line-height:26px;}
*html .APP_font1 a{font-family:"宋体";}
.APP_font1 a:hover{text-decoration:none;}
.APP_font1 .IpadAndPhone, .APP_font1 .IpadAndPhone_1{background:url(/images/bg2.png) no-repeat -318px -146px; width:65px; height:22px; line-height:22px; text-align:center; color:#fff; font-weight:normal; display:block; margin-top:10px;}
.APP_font1 .IpadAndPhone_1{background-position:-384px -146px;}
*/

.er_span1{font-family:"微软雅黑","黑体","Verdana"; color:#7b7b7b; font-size:14px; font-weight:bold; margin-top:8px;}

/*page*/
.page{padding:30px 20px 14px;text-align:center;zoom:1; clear:both;}
.page a{padding:5px 7px 2px;background:#fff;color:#000;border:1px #2877c6 solid;margin-right:6px; zoom:1; font-size:14px;}
.page a:hover{color:#fff; background:#4f93e8; text-decoration:none;}
.page div{color:#000;background:#4D94E9;border:1px #bdbdbd solid;padding:5px 7px 2px;margin-right:6px;display:inline; zoom:1; color:#fff; font-size:14px;}
.page .none{border:none; background:none; color:#000;}

/* footer css */
.pop_end{ clear:both; width:1000px; margin:auto; padding:8px 0px; line-height:20px; font-size:12px; color:#868686; text-align:center;overflow:hidden; border-top:1px solid #d5d5d5;}
.pop_end a{font-size:12px; color:#868686; text-decoration:none; }
.pop_end a:hover{font-size:12px; color:#868686; text-decoration:none; }

/* 2011-3-29 */
.APP_font1{float:left; width:114px; margin-top:4px;}
.APP_font1 a{font-family:"微软雅黑","黑体","Verdana";}
/*.APP_font1 p{color:#010101; font-family:"微软雅黑","黑体","Verdana"; font-weight:bold; word-wrap:break-word; height:14px;}
*html .APP_font1 p{letter-spacing:-1; line-height:1.2;}*/

.span_xx0, .span_xx5, .span_xx10, .span_xx15, .span_xx20, .span_xx25, .span_xx30, .span_xx35, .span_xx40, .span_xx45, .span_xx50{background:url(/images/xxn.png) no-repeat; width:84px; height:13px; display:block; margin-top:6px;}
.span_xx5{background-position:0 -13px;}
.span_xx10{background-position:0 -26px;}
.span_xx15{background-position:0 -39px;}
.span_xx20{background-position:0 -52px;}
.span_xx25{background-position:0 -65px;}
.span_xx30{background-position:0 -78px;}
.span_xx35{background-position:0 -91px;}
.span_xx40{background-position:0 -104px;}
.span_xx45{background-position:0 -117px;}
.span_xx50{background-position:0 -130px;}

.APP_font1 .IpadAndPhone, .APP_font1 .IpadAndPhone_1{background:url(/images/bg2.png) no-repeat -318px -146px; width:65px; height:22px; line-height:22px; text-align:center; color:#fff; font-weight:normal; display:block; margin-top:10px;}
.APP_font1 .IpadAndPhone_1{background-position:-384px -146px;}

/*.APP_font1 p.APP_p1{color:#666; margin-top:4px; height:13px;}
*html .APP_font1 p.APP_p1{height:100%; vertical-align:bottom; margin-top:2px;}
*+html .APP_font1 p.APP_p1{margin-top:2px;}

.APP_font1 p.APP_p1 span.span_ico1, .APP_font1 p.APP_p1 span.span_ico1_1{background:url(http://www.app111.com/Images/1_46.gif) no-repeat; display:inline-block; margin-right:2px; width:12px; height:12px; margin-top:0px;}
.APP_font1 p.APP_p1 span.span_ico1_1{background:url(http://www.app111.com/Images/1_54.gif) no-repeat;}
*html .APP_font1 p.APP_p1 span.span_ico1, *html .APP_font1 p.APP_p1 span.span_ico1_1{vertical-align:bottom; margin-top:4px;}
*+html .APP_font1 p.APP_p1 span.span_ico1, *+html .APP_font1 p.APP_p1 span.span_ico1_1{vertical-align:middle;}
.span_margin1{margin-top:0px; float:right;}
*html .span_margin1{margin:0px;}
*+html .span_margin1{margin:3px;}*/

/* 2011-4-7 css */
.APP_font1{float:left; width:105px; margin-top:2px;}
.APP_font1 p{color:#010101; font-family:"微软雅黑","黑体","Verdana"; font-weight:bold; word-wrap:break-word;}
.APPer_contain3_1 li{background:url(/images/bg_2b.png) no-repeat; width:208px; height:100px; float:left; margin:5px 7px 0 7px; padding:15px 0 0 18px; display:inline; position:relative; margin-bottom:10px;}
.corner_mark{background:url(/images/bg_2b.png) no-repeat 1px -115px; display:block; width:30px; height:32px; position:absolute; left:0; top:0; z-index:3; padding:4px 0 0 6px; font-family:"微软雅黑","黑体","Verdana"; font-size:14px; color:#fff; font-weight:bold;}
.APP_font1 p.p_name1{overflow:hidden; height:14px; line-height:14px;}
*html .APP_font1 p.p_name1{margin-top:2px;}
*+html .APP_font1 p.p_name1{margin-top:2px;}
.APP_font1 p.p_price1{margin-top:6px; color:#999;}
.APP_font1 p.p_price2{margin-top:7px; color:#999;}/* 2011-4-13 修改 */
.APP_font1 p.p_price3{margin-top:4px; color:#999;}/* 2011-4-13 修改 */
.APP_font1 p.APP_p1{margin-top:9px; height:18px;}
.APP_p1 span.span_bg1, .APP_p1 span.span_bg2, .APP_p1 span.span_bg3{float:right; display:block; background:url(/images/bg_2b.png) no-repeat -127px -116px; width:30px; height:14px; padding:2px 0 0 16px; font-weight:normal; color:#5c5c5c; margin-top:3px;}
*html .APP_p1 span.span_bg1, *html .APP_p1 span.span_bg2, *html .APP_p1 span.span_bg3{padding-top:2px; height:14px; margin-top:2px;}
*+html .APP_p1 span.span_bg1, *+html .APP_p1 span.span_bg2, *+html .APP_p1 span.span_bg3{padding-top:2px; height:14px; margin-top:2px;}
.APP_p1 span.span_bg2{background-position:-81px -116px;}
.APP_p1 span.span_bg3{background-position:-35px -116px;}
.APP_font1 p.APP_p1 em{font-weight:normal; font-size:18px; font-family:Arial; color:#ff8e00; float:left; display:block; width:50px; line-height:18px; height:18px; margin-top:1px;}

.APP_font1 span{margin-top:6px;}
*html .APP_font1 span{margin-top:4px;}
*+html .APP_font1 span{margin-top:4px;}
.span_xx0, .span_xx5, .span_xx10, .span_xx15, .span_xx20, .span_xx25, .span_xx30, .span_xx35, .span_xx40, .span_xx45, .span_xx50{background:url(/images/xxn.png) no-repeat; width:84px; height:13px; display:block;}
.span_xx5{background-position:0 -13px;}
.span_xx10{background-position:0 -26px;}
.span_xx15{background-position:0 -39px;}
.span_xx20{background-position:0 -52px;}
.span_xx25{background-position:0 -65px;}
.span_xx30{background-position:0 -78px;}
.span_xx35{background-position:0 -91px;}
.span_xx40{background-position:0 -104px;}
.span_xx45{background-position:0 -117px;}
.span_xx50{background-position:0 -130px;}